.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background-color: #f2f2f2;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerTitleContainer {
    display: flex;
    align-items: center;
    margin-left: 14px;
    text-decoration: none;
    cursor: pointer;
}

.headerTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    color: #242424;
}

.headerIcon {
    height: 32px;
    width: 32px;
    margin-left: 36px;
}

.buttonsContainer {
    display: flex;
    align-items: center;
    padding-right: 36px;
}


.historyButtonContainer {
    display: flex;
    align-items: center;
    padding: 5px 12px;
    gap: 4px;
    width: 86px;
    height: 32px;
    background: radial-gradient(109.81% 107.82% at 100.1% 90.19%, #D6484C 33.63%, #EED7D8 100%);
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px; /* Add spacing between the buttons */
}

.historyButton {
    color: #FFFFFF;
}

.historyButtonText {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.urlTextBox {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #707070;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
}

.loadingText {
    margin-top: 10px;
    font-size: 14px;
    color: #000;
}

.loadingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
